[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "oh-my-zsh/custom/themes/powerlevel10k"]
	path = oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/pack/man/start/nerdtree"]
	path = vim/pack/man/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/hybrid"]
	path = vim/hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "ranger"]
	path = ranger
	url = https://github.com/ranger/ranger.git
[submodule "vim/pack/man/start/vim-obsession"]
	path = vim/pack/man/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim/pack/man/start/vim-go"]
	path = vim/pack/man/start/vim-go
	url = https://github.com/fatih/vim-go
