[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "oh-my-zsh/custom/themes/powerlevel10k"]
	path = oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vim/onehalf"]
	path = vim/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/vim-hybrid"]
	path = vim/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
